<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cauê Foyth</title>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/png" href="../static/img/icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>

  <!-- botão de abrir menu para mobile -->
  <i class="bi bi-list menu-mobile"></i>

  <!-- Menu lateral responsivo -->
  <aside id="header">

    <!-- Seção do perfil e contatos -->
    <section class="profile">
      <img src="../static/img/perfil.jpg" alt="Foto do Cauê">
      <h1>Cauê Marchi Foyth</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/caue-foyth-6a3474227/">
          <i class="bi bi-linkedin"></i>
        </a>
        <a target="_blank" href="https://github.com/CaueFoyth">
          <i class="bi bi-github"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/caue_foyth/">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </section>

    <!-- Tag para fazer a Navbar -->
    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person-circle"></i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-card-checklist"></i> Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi bi-person-vcard-fill"></i> Currículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contatos</a>
        </li>
      </ul>
    </nav>

  </aside>

  <!-- Tag para definir o conteúdo principal do site -->
  <main id="main">
    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-12 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadows">Cauê Marchi Foyth</h2>
        <span id="subtitle" class="text-white text-shadow">Estudante de Desenvolvimento de Sistemas</span>
      </div>
      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-90deg-down text-white p-2 fs-2"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>
      </div>
    </section>

    <!-- Fazendo a parte de conteúdo sobre do portfólio -->
    <section class="container mt-5" id="sobre">

      <div class="row with-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">Sobre</h2>
          <p>Me chamo Cauê Marchi Foyth, tenho 17 anos e estou estudando Desenvolvimento de sistemas pelo Senai, quando
            comecei a codar pela primeira vez fiquei muito confuso, porém depois que comecei a entender o que eu estava
            codando me apaixonei por isto instantaneamente. Apartir disto sempre fui buscando conteúdo extra por fora da
            aula do técnico, atravez de video aulas, cursos e bootcamps. Hoje vejo mundo com outros olhos, vejo que o
            mundo está mais conectado do que nunca e para isso acontecer foram anos para chegar no que estamos hoje, e
            por isso que busco aprender cada vez mais para um dia mudar o futuro do mundo apartir da tecnologia.</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <img src="../static/img/perfil.jpg" data-anime="left" alt="Foto de perfil" class="img-fluid shadow">
        </div>
        <div class="col-md-8" data-anime="left">
          <h3 class="mt-4">Desenvolvimento de sistemas</h3>
          <p>Hoje no técnico de desenvolvimento de sistemas as principais tecnologias usadas são HTML, CSS, JS, PHP e
            MySQL.</p>

          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Niver: <span class="fw-lighter">22 de fevereiro de 2006</span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">17 anos</span>
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">Joinville</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">Santa Catarina</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Hobby: <span class="fw-lighter">Musculaçao</span>
                </li>
                <li class="list-group-item">
                  Trabalho: <span class="fw-lighter">Jovem aprendiz na Hyperlocal</span>
                </li>
                <li class="list-group-item">
                  Estudo: <span class="fw-lighter">Desenvolvimento de Sistemas</span>
                </li>
                <li class="list-group-item">
                  Meta: <span class="fw-lighter">Priemeiro emprego na área</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Fazendo a parte do conteúdo de habilidades -->
    <section class="mt-5 section-bg" id="habilidades">
      <div class="container pb-5">
        <h2 class="pt-5">Habilidades</h2>
        <p>Durante meus estudos na área aprendi algumas coisas do qual irei citar, obviamente dentro dos conhecimentos
          passados pelo técnico e conhecimento buscado por cursos, video aulas, bootcamp e pesquisas. As porcentagens
          apresentadas a baixo sobre minhas habilidades é em uma base que eu acredito ter.</p>
        <div class="row">
          <div class="col-md-6">
            <p class="mt-3 mb-0">HTML</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
            </div>

            <p class="mt-3 mb-0">CSS</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
            </div>

            <p class="mt-3 mb-0">JS</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 30%">30%</div>
            </div>

            <p class="mt-3 mb-0">Bootstrap</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 30%">30%</div>
            </div>

          </div>
          <div class="col-md-6">
            <p class="mt-3 mb-0">PHP</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 30%">30%</div>
            </div>

            <p class="mt-3 mb-0">MySql</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
            </div>

            <p class="mt-3 mb-0">Python</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 30%">30%</div>
            </div>

            <p class="mt-3 mb-0">Flask</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 10%">10%</div>
            </div>
          </div>
        </div>

        <h2 class="pt-5">Soft skills</h2>
        <div class="row">
          <div class="col-md-6">
            <p class="mt-3 mb-0">Trabalho em equipe</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
            </div>

            <p class="mt-3 mb-0">Proatividade</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 75%">75%</div>
            </div>
          </div>
          <div class="col-md-6">
            <p class="mt-3 mb-0">Comprometimento</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
            </div>

            <p class="mt-3 mb-0">Lógica</p>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Fazendo a parte de conteúdo de curriculo -->
    <section class="mt-5 cv" id="curriculo">
      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Currículo</h2>
        <div class="row">
          <div class="col-md-6">
            <h3 class="cv-title">Educação</h3>
            <div class="cv-item" data-anime="up">
              <h4>Técnico em Desenvolvimento de sistemas</h4>
              <h5>2021-2023</h5>
              <p><em>Senai</em></p>
              <p>Técnico em desenvolvimento de sistemas no ultimo ano.</p>
            </div>

            <div class="cv-item" data-anime="up">
              <h4>Ensino médio</h4>
              <h5>2021-2023</h5>
              <p><em>Senai</em></p>
              <p>Cursando o ensino médio no ultimo ano.</p>
            </div>

          </div>
          <div class="col-md-6">
            <h3 class="cv-title">Profissional</h3>

            <div class="cv-item" data-anime="up">
              <h4>Jovem aprendiz no financeiro </h4>
              <h5>2023(Atual)</h5>
              <p><em>Hyperlocal</em></p>
              <p>Faço tarefas simples no financeiro como jovem aprendiz.</p>
            </div>
            <div class="cv-item" data-anime="up">
              <h4>Jovem aprendiz no administrativo</h4>
              <h5>2022-2023</h5>
              <p><em>Plano Viver</em></p>
              <p>Fazia tarefas simples de administrativo e contato com clientes como jovem aprendiz.</p>
            </div>

          </div>
        </div>
      </div>

    </section>

    <!-- Fazendo o conteúdo do portfólio -->
    <section class="mt-5 section-bg" id="portfolio">
      <div class="container pb-5 pt-5 width-80" data-anime="left">
        <h2 class="pb-4">Portfólio</h2>

        <!-- Carrosel dos projetos -->
        <div id="carouselPortfolio" class="carousel carousel-dark slide">

          <!-- Botões de páginas -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>

          <!-- Páginas do carrosel -->
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">

              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/pokedex.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pokédex</h5>
                      <p class="card-text">Fiz está Pokedéx para treinar conhecimentos em HTML, CSS e JS.</p>
                      <div class="d-flex justify-content-center">
                        <a target="_blank" href="https://pokedex-foyth.vercel.app/"><button
                            class="btn btn-outline-primary me-3"><i class="bi bi-link-45deg"></i></button></a>
                        <a target="_blank" href="https://github.com/CaueFoyth/pokedex"><button
                            class="btn btn-outline-dark"><i class="bi bi-github"></i></button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="carousel-item" data-bs-interval="2000">

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </section>

    <!-- Fazendo o contato no portfólio -->
    <section class="mt-5 pt-5 pb-5" id="contato">
      <h2 class="pt-3 pb-4 m-3">Contato</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="card p-5 shadow border-0" data-anime="up">
              <div class="endereco">
                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                <p>Joinville, SC</p>
              </div>
              <div class="email">
                <h4><i class="bi bi-envelope"></i> Email:</h4>
                <p>foythcaue@gmail.com</p>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.430938602921!2d-48.83273852491056!3d-26.344920269719108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94deb12fdcf4d0f3%3A0x4731caea0f1cf27e!2sR.%20Egon%20Tanner%20-%20Petr%C3%B3polis%2C%20Joinville%20-%20SC%2C%2089208-833!5e0!3m2!1spt-BR!2sbr!4v1686686322425!5m2!1spt-BR!2sbr"
                  width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade" class="with-100"></iframe>

              </div>
            </div>
          </div>
          <div class="col-md-7 mt-5 mt-md-0">
            <div class="card p-5 h-100 shadow border-0" data-anime="left">
              <form class="row g-3" action="/send" method="POST">
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome:" required>
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email:"
                    required>
                </div>
                <div class="col-md-12 mt-4">
                  <label for="mensagem" class="form-label">Mensagem:</label>
                  <textarea type="text" class="form-control" rows="10" id="mensagem" name="mensagem"
                    placeholder="Digite sua mensagem:" required></textarea>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" id="btn-enviar">Enviar</button>
                  <button class="btn btn-primary" type="button" disabled id="btn-enviar-loader">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Enviando...
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle-fill"></i>{{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </main>

  <footer id="footer">
    <div class="container">
      <div class="text-center">
        &copy; Copyright <strong>Cauê Foyth</strong>
      </div>
    </div>
  </footer>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>